---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-4.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: All Available Options
    title:
      klass: bottom-to-top
      text: One Place
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: View Features
          link_to: http://www.reddit.com

app-services-first:
  - icon: fighter-jet
    title: Free rides from friends and family
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum veritatis, corporis repellat minus perferendis voluptatum!
  - icon: Price conscious (Surge pricing)
    title: Optimize rewards for success
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias error tenetur? Quis, neque, vel.
  - icon: signal
    title: Need car in the morining
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam libero aspernatur autem rem asperiores veniam!
  - icon: rocket
    title: Simply not knowing whats available
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos, quis suscipit non provident! Quibusdam.

app-services-second:
  - icon: intersex
    title: Make yourself available in a single click
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam perspiciatis voluptatibus esse dolor quis?
  - icon: scissors
    title: Determine who's available to you
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia labore, modi odio cupiditate, minima cumque?
  - icon: paperclip
    title: Earn rewards for being a good friend
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia alias illum, aperiam, natus ipsam ex!

app-services-third:
  - icon: btc
    title: Using the app to get home
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos, placeat, quisquam similique laborum dolore.
  - icon: pie-chart
    title: Being available for friends &amp; family
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eaque eum, sunt labore minus, delectus?
  - icon: ship
    title: Giving a ride to a friend
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto iusto natus dolor ducimus ullam.

milestones:
  - icon: cutlery
    from: 0
    to: 587
    title: <span class="stat-highlight">Thousand</span><br>Bars &amp; Restaurants in America
  - icon: users
    from: 0
    to: 19
    title: <span class="stat-highlight">Billion</span><br>Visitors to Bars and Restaurants Each Year
  - icon: car
    from: 0
    to: 80
    title: <span class="stat-highlight">Million</span><br>Americans Without Paid Transportation Access
  - icon: ambulance
    from: 0
    to: 103
    title: <span class="stat-highlight">Million</span><br>Americans Use Designated Drivers

---

<!-- Banner Image and CTA -->
<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-color: #87d852;'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  {% if button.klass == 'boxed' %}
                  <form action=""  class='medium-6 medium-offset-3'>
                  {% else %}
                  <form action=""  class='medium-6 medium-offset-1'>
                  {% endif %}
                    <div class='small-title {{ slide.small_title.klass }}' style='position:static;'>
                      <div class='row'>
                        <div class='large-12 columns'>
                          <h2>Being a Designated Driver has never been this rewarding</h2>
                        </div>
                      </div>
                    </div>
                    <div class="centered-text">
                    </div>
                  </form>


                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <i class='fa fa-arrow-down bottom-to-top' style='position:absolute;bottom:40px;left:50%;transform:translateX(-50%);z-index:100;color:white;font-size:200%;'></i>
</div>

<!-- The Solution -->
<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="HERO Simplifies Getting You Home Safe" %}
      <div class="spacing"></div>
    </div>
  </div>
</div>

<!-- Video Section -->
<div>
  <div class="row centered-text">
    <iframe class="youtube-iframe" width="560" height="315" src="https://www.youtube.com/embed/dT0h9dsUm-k" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="spacing three"></div>
</div>

<!-- App Service First -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="All Available Opitons in One Place" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns hide-small'>
      {% for service in page.app-services-first %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinright" alt="" src="../images/app/app-available-options.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns hide-large'>
      {% for service in page.app-services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- App Service Second -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Easier to Be There For Your Friends" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinleft" alt="" src="../images/app/app-friends.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.app-services-second %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- App Service Third -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Get Rewarded For Using HERO" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns hide-small'>
      {% for service in page.app-services-third %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinright" alt="" src="../images/app/app-rewards.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns hide-large'>
      {% for service in page.app-services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- Coming Soon -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="HERO app coming fall 2016" %}
      <div class='two spacing'></div>
    </div>
  </div>
</div>
