---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-4.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: All Available Options
    title:
      klass: bottom-to-top
      text: One Place
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: View Features
          link_to: http://www.reddit.com

app-services-first:
  - icon: universal-access
    title: Free rides
    desc: Get free rides from your social circle when they make themselves available on the platform
  - icon: money
    title: Price Conscious
    desc: Instantly find which option fits your budget no matter which mode of transportation or service provider
  - icon: car
    title: Need car in the morining
    desc: Find services that will take you and your car home, from paid services to free options like AAA Tipsy Tow
  - icon: blind
    title: Simply not knowing
    desc: Discover all available transportation options in your area that you might not even know exist

app-services-second:
  - icon: check-circle
    title: Availbale in a single click
    desc: In one click instanly make yourself available to be a designated driver to your social circle
  - icon: user-secret
    title: Determine who you're available to
    desc: Some nights you may only be willing to give certain people in your social circle a ride
  - icon: trophy
    title: Earn rewards for being avaiable
    desc: Get rewarded for making yourself available to get a friend home after a night out on the town

app-services-third:
  - icon: taxi
    title: Using HERO to get home
    desc: No matter what transportation option you choose HERO will reward you for making the smart choice
  - icon: road
    title: Giving a friend a ride home
    desc: Be a designated driver for a friend and get rewarded the next night you go out
  - icon: gift
    title: Suggesting transportation options
    desc: Don't see your preferred option? Let us know about it to earn points for your next reward

milestones:
  - icon: cutlery
    from: 0
    to: 587
    title: <span class="stat-highlight">Thousand</span><br>Bars &amp; Restaurants in America
  - icon: users
    from: 0
    to: 19
    title: <span class="stat-highlight">Billion</span><br>Visitors to Bars and Restaurants Each Year
  - icon: car
    from: 0
    to: 80
    title: <span class="stat-highlight">Million</span><br>Americans Without Paid Transportation Access
  - icon: ambulance
    from: 0
    to: 103
    title: <span class="stat-highlight">Million</span><br>Americans Use Designated Drivers

---

<!-- Video Section -->
<div style="background:black;text-align:center;">
  <div class="three spacing"></div>
  <div class='twelve columns'>
    {% include section-header.html title="HERO Simplifies Getting You Home Safe" color="#fff" class="small" %}
  </div>
  <div class="row centered-text">
    <iframe class="youtube-iframe" width="560" height="315" src="https://www.youtube.com/embed/dT0h9dsUm-k" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="spacing three"></div>
</div>

<!-- App Service First -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="All Available Options in One Place" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns hide-small'>
      {% for service in page.app-services-first %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinright" alt="" src="../images/app/app-available-options.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns hide-large'>
      {% for service in page.app-services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- App Service Second -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Get rewarded for being a designated driver" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinleft" alt="" src="../images/app/app-friends.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.app-services-second %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- App Service Third -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Earn rewards on HERO by" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns hide-small'>
      {% for service in page.app-services-third %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinright" alt="" src="../images/app/app-rewards.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns hide-large'>
      {% for service in page.app-services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- Coming Soon -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="HERO app coming fall 2016" %}
      <div class='two spacing'></div>
    </div>
  </div>
</div>
