---
layout: default
title: Rewards
section_id: getting-involved

reward-perks:
  - icon: universal-access
    title: Free to sign up
    desc: <br>
  - icon: trophy
    title: Rewards drive foot traffic
    desc: <br>
  - icon: money
    title: Drives 31x return on average
    desc: <br>
  - icon: globe
    title: Open marketplace
    desc: <br>
---
<div class='full parallax' style='background: #191919; color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Rewards" color="#fff" tagline="Drive revenue while impacting lives" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- Rewards -->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Strengthen your bond with the community" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns centered-text'>
      <img class="fadeinleft" alt="" src="../images/app/app-friends.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.reward-perks %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- CTA -->
<div class='full'>
  <div class='row'>

    <div class='large-12 columns' style="text-align:center;">
      <button><a style="color:white;" href="contact.html">Click here to contact us</a></button>
    </div>

  </div>
</div>


<!-- Value Statements -->
<div class="four spacing"></div>

<div class="row">
  <div class="large-12 columns">
    {% include section-header.html title="Users earn points for" %}
    <div class="spacing"></div>
  </div>

  <div class="medium-6 large-6 columns">
    {% include icon-text.html title='being a designated driver' desc='' icon_class='fa fa-car' delay='400' shape_class='icon-text-circle' %}
  </div>
  <!-- <div class="medium-4 large-4 columns">
    {% include icon-text.html title='34 points' desc='for being available as a Designated Driver for friends &amp; family' icon_class='fa fa-line-chart' delay='200' shape_class='icon-text-circle' %}
  </div> -->
  <div class="medium-6 large-6 columns">
    {% include icon-text.html title='not driving drunk' desc='' icon_class='fa fa-thumbs-up' delay='400' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>
