<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>


    <div class='large-4 medium-4 columns centered-text'>
      <div class='spacing'></div>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/hero_logo_grn.svg" />
        </a>
      </h1>
      <h4>Contact us</h4>
      <ul>
        <li>Email: info@hero-app.com</li>
        <li>Location: 701 Brazos St suite 1600, Austin, TX</li>
      </ul>
      <div class='spacing'></div>
    </div>


    <div class='large-4 medium-4 columns centered-text'>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/HeroAppIt/'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/HEROappit'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <p class="large-8 large-offset-2 small-6 small-offset-3">
        Like us on Facebook and Follow us on Twitter to receive invitations to exclusive launch parties and events
      </p>
      <div class='spacing'></div>
    </div>


    <div class='large-4 medium-4 columns centered-text'>
      <img src="images/techstars.png" alt="techstars" style="height:150px;width:200px;">
      <p>A Techstars backed company</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>


  </div>

  <div class='two spacing'></div>
  <div class="large-12 centered-text">
    <p>©2016 HERO app co. All rights reserved.</p>
    <div class='spacing'></div>
  </div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
